.git
**/node_modules
dist
temp
tests/*
!tests/server
!tests/tools
!tests/fixtures
tests/fixtures/*
!tests/fixtures/api.json
!tests/package.json
!tests/package-lock.json
**/credentials.coffee
**/.env
**/.env.*
npm-debug.log
app/public
app/site/index.html
app/site/holding.html
app/site/login.html
rev-manifest.json
legacy
