.idea
.vagrant

temp/
node_modules/
dist/
.sass-cache/
.sublime/
npm-debug.log

# OSX 
*.DS_Store
.elasticbeanstalk/

credentials.coffee

temp/

rev-manifest.json
app/public/
app/site/index.html
app/site/holding.html
app/site/login.html

doodles/.gitignore

tests/archive/
tests/artifacts/
