@use "../../globals";

.page-four-oh-four {
	background: globals.$cd-blue;

	.not-found-message {
		color: #fff;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		border-bottom: 2px solid globals.$cd-red;
		padding-bottom: 5px;
	}
}
